body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}
a {
  text-decoration: none; 
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  padding: 16px 40px;
  font: inherit;
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  
  border-radius: 3px;
  
  text-align: center;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
  
}
.header {
  background-color: #eeeeee;
  
}
.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-header {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  width: 100%;
  background-color: #eeeeee;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
}
.main-navigation {
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; 
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 17px 23px;
  color: #000000;
  font-weight: 500;
}
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}
.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 68%;
  bottom: 14px;
  left: 16%;
  background-color: #fb565a;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}
.login-link::before {
  content: '';
  position: absolute;
  top: 23px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.bg-grey {
  margin:0;
  margin-bottom: 80px;
  padding: 0;
  width: 100%;
  background-color: #eeeeee;
}
.carousel-slide {
  display: none;
}
.carousel-slide-active {
  display: flex;
  justify-content: space-between;
  min-height: 430px;
}
.carousel-text {

}
.carousel h3 {
  font-size: 55px;
  color: #000000;
  line-height: 55px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  margin-top: 85px;
}
.carousel-main {
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
  margin-bottom: 17px;
}

.carousel-button {
  font: inherit;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding: 16px 55px;
}
.carousel-slide img {
  padding: 0;
  margin: 0;
  margin-top: auto;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  bottom: 96px;

}
.dot {
  width: 18px;
  height: 18px;
  outline: none;
  border-radius: 50%;
  margin-right: 17px;
  background-color: #fff;

}
.dot:hover {
  background-color: #c1c1c1;
}
.dot-active {
  background-image: url('../img/dot-active.png');
}

.features-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.feature-item img{
  margin-bottom: 26px; 
}
.features p {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}
.features h3 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 24px;
  color: #000000;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.feature-button2 {
  background-color: #00ca74; 
}
.feature-button2:hover {
  background-color: #00bc6c; 
}
.feature-button2:active {
  background-color: #00bc6c; 
}
.feature-button3 {
  background-color: #efc84a; 
}
.feature-button3:hover {
  background-color: #eab534; 
}
.feature-button3:active {
  background-color: #eab534; 
} 
.divide {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.promo {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  
  display: flex;
  justify-content: space-between;
}
.promo-main {
  margin-right: auto;
}
.promo-main p{
  margin-bottom: 40px;
}
.promo h2 {
  padding: 0;
  margin: 0;
  font-size: 45px;
  color: #000000;
  line-height: 45px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 30px;
}
.promo-main-header {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  
}
.promo-main-ul {
  list-style: none;
}
.promo-main-ul li {
  position: relative;
  margin-bottom: 20px;
}
.promo-main-ul span:before {
  content: "";
  
  position: absolute;
  left: -30px;
  width: 2px;
  height: 25px;  
  background-color: #fb565a;
  transform: rotate(90deg);
}
.promo-side {
  margin-left: auto;
  margin-right: 0;
}
.promo-logo {
  margin-bottom: 36px;
}
.promo-side p {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.promo-table {
  width: 360px;
}
.promo-table-percent {
  font-size: 45px;
  color: #000000;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 35px;
}
.promo-table-percent sup {
  font-size: 0.6em;
}
.promo-table-description {
  line-height: 18px;
}
.promo-table td {
  width: 120px;
  padding-bottom: 5px 0;
}
.partners-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 44px;
}
.partner-logo {
  opacity: 0.2;
}
.partner-logo:hover {
  opacity: 1.0;
}
.partner-logo:active {
  opacity: 0.1;
}
.footer-map {
  position: relative;
  overflow: hidden;
}
.footer-map img {
  display: block;
  vertical-align: center;
  width: auto;
  height: 416px;
}
.footer-map-contacts {
  position: absolute;
  top: 55px;
  left: 90px;
  display: block;
  width: 320px;
  background-color: #fff;
}
.footer-map-text {
  display: block;
  padding: 50px;
  padding-left: 55px;
  vertical-align: middle;
}
.footer-map-header {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer-map-contacts p {
  font-size: 16px;
  color: #666666;
  line-height: 18px;
}
.callback-button {
  margin-top: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
  margin-top: 70px;
}
.footer-social {
  width: 400px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  width: 270px;
  list-style: none;
  align-items: center;
  margin: 0;
}
.social-button  {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
}
.social-button:active img {
  opacity: 0.3;
}
.footer-discount {
  margin: 0;
}
.footer-discount h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  color: #000000;
  line-height: 36px;
  font-weight: 700;
}
.footer-discount p {
  line-height: 22px;
  color: #444444;
}
.modal {
  position: fixed;
  top: 50px;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  
  width: 760px;
  padding: 65px 100px;
  margin-left: -480px;
  
}
.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
  font-weight: 500;
}
.callback-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.half-width {
  width: 360px;
}
.callback-form label {
  display: block;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.callback-line {
  margin: 0;
  margin-bottom: 35px;
  
}
.callback-textarea textarea{
  display: block;
  width: 100%;
  height: 115px;
  
  padding-top: 15px;
  padding-left: 12px;
  margin: 0;
  margin-bottom: 50px;
  
}
.half-width input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
}
.callback-form input,
.callback-text {
  font: inherit;
  color: rgba(68,68,68,0.5);
  line-height: 18px; 
  border: 2px solid #d7dcde;
}
.callback-form input:hover,
.callback-text:hover {
  color: rgba(68,68,68,0.5);
  border: 2px solid #b4b9bb;
}
.callback-form input:focus,
.callback-text:focus {
  color: #444444;
  border: 2px solid #000000;
}
.callback-form input:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}
.form-button {
  width: 260px;
}
.modal-close {
  position: absolute;
  top: 70px;
  right: 85px;
  width: 27px;
  height: 27px;
  font-size: 0;
  border: 0;
  background-color: #fff;
  
}
.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 27px;
  height: 4px;
  background-color: rgba(251, 86, 90, 0.3);
  border: 0;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
}
.modal-close:active::before,
.modal-close:active::after {
  background-color: rgba(251, 86, 90, 0.1);
}


/*--store--*/
.page-title {
  font-size: 55px;
  color: #000000;
  font-weight: 500;
  line-height: 55px;
  
  text-align: center;
}
.store-header {
  background-color: #eeeeee;
  height: 355px;
  margin-bottom: 42px;
  padding-top: 50px;
}
.store-title {
  padding-bottom: 116px;
  margin-top: 82px;
}
.store-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.range {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.range-for-track {
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 40px 30px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.range-track {
  position: relative;
  height: 2px;
  background-color: #dbdbdb;
}

.range-track-value {
  position: absolute;
  bottom: 0;
  width: 67%;
  background-color: #91c92f;
}

.range-button {
  position: absolute;
  bottom: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow:
    inset 0 0 0 8px #ffffff,
    0 2px 1px #dadada;
}

.range-button-from {
  left: -13px;
}

.range-button-to {
  left: 129px;
}

.range-button:active {
  outline: none;
  transform: scale(1.1);
}

.price-outputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-output {
  box-sizing: border-box;
  max-width: 80px;
  margin-left: 11px;
  padding: 8px 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price_output::placeholder {
  color: #000000;
}

.filter {
  margin-top: 12px;
}
.filters {
  width: 260px;
}
.filter-field {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  border: none;
}

.filter-legend {
  margin-bottom: 13px;
}

.filter-legend-first {
  margin-bottom: 48px;
  padding-bottom: 40px;
}
.filter-main {
  width: 260px;
  margin-right: 140px;
}
.filter-main legend,
.filter-title {
  font-size: 18px;
  color: #000000;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-main fieldset {
  border: none;
}
.filters ul {
  list-style: none;
  line-height: 20px;
}
.filter-input:hover,
.filter-input:focus {
   
}
.filter-input:disabled + label {
  opacity: 0.3;
}

.radio {
  position: relative;
  display: block;
  margin-bottom: 14px;
  cursor: pointer;
}

.radio:last-of-type {
  margin-bottom: 0;
}

.radio-label {
  display: block;
  padding: 3px 0;
  padding-left: 36px;
  line-height: 20px;
  opacity: 0.85;
}

.radio-label:hover,
input:focus + .radio-label {
  opacity: 1;
}

input:disabled + .radio-label {
  opacity: 0.3;
}

.radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  height: 9px;
  padding: 4px;
  border: 4px solid #000000;
  background-clip: content-box;
  border-radius: 50%;
  opacity: 0.3;
}

.radio-label:hover::before,
input:focus + .radio-label::before {
  opacity: 0.7;
}

input:active:focus + .radio-label::before,
input:checked + .radio-label::before {
  background-color: #000000;
}

input:active + .radio-label::before {
  background-color: transparent;
}
.input-none {
  display: none;
}

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 14px;
  cursor: pointer;
}

.checkbox:last-of-type {
  margin-bottom: 0;
}

.checkbox-label {
  display: block;
  padding: 3px 0;
  padding-left: 36px;
  line-height: 20px;
  opacity: 0.85;
}

.checkbox-label::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 27px;
  height: 23px;
  background: no-repeat left center;
  opacity: 0.3;
}

.checkbox-label:hover,
input:focus + .checkbox-label {
  opacity: 1;
}

.checkbox-label:hover::before,
input:focus + .checkbox-label::before {
  opacity: 0.7;
}

input:disabled + .checkbox-label {
  opacity: 0.3;
}

input:not(:checked) + .checkbox-label::before,
input:checked:active + .checkbox-label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"23\" height=\"23\" viewBox=\"0 0 23 23\"%3E%3Cpath d=\"M20 2c.5 0 1 .5 1 1v17c0 .5-.5 1-1 1H3a1 1 0 0 1-1-1V3c0-.5.5-1 1-1h17m0-2H3a3 3 0 0 0-3 3v17a3 3 0 0 0 3 3h17a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z\"/%3E%3C/svg%3E%0A");
}

input:checked + .checkbox-label::before,
input:not(:checked):active + .checkbox-label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"27\" height=\"23\" viewBox=\"0 0 27 23\"%3E%3Cpath d=\"M7.3 7.5l-2.8 2.8 7.7 7.8 14-14-2.9-2.8-11 11.1z M21 20c0 .5-.5 1-1 1H3a1 1 0 0 1-1-1V3c0-.5.5-1 1-1h17L21.4.4A3 3 0 0 0 20 0H3a3 3 0 0 0-3 3v17a3 3 0 0 0 3 3h17a3 3 0 0 0 3-3v-9.8l-2 2V20z\"/%3E%3C/svg%3E");
}

form button {
  width: 100%;
}
.filter-title {
  min-width: 200px;
  margin: 0;
  margin-right: auto;
}
.filter-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.filter-top-item {
  margin-right: 25px;
  padding-top: 16px;
  padding-bottom: 13px;
}
.filter-top-link {
  padding: 14px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.3;
  transition: opacity 150ms;
}
.filter-top-link:hover,
.filter-top-link:focus {
  opacity: 0.6;
}
.filter-top-link:active,
.filter-top-link-active {
  opacity: 1;
}
.filter-arrows {
  align-self: flex-end;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.filter-arrows-link {
   position: relative;
  display: inline-block;
  padding: 14px 10px;
  width: 11px;
  height: 11px;
  text-decoration: none;
  opacity: 0.3;
  transition: opacity 150ms;
}
.filter-arrows-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.filter-arrows-down::before {
  border-width: 0 6px 11px 6px;
  border-color: transparent transparent #000000 transparent;
}
.filter-arrows-up:before {  
  border-width: 11px 6px 0 6px;
  border-color: #000000 transparent transparent transparent;
}
.filter-arrows-link:hover,
.filter-arrows-link:focus {
  opacity: 0.6;
}
.filter-arrows-link:active {
  opacity: 1;
}

.grey-button {
  color: #000000;
  line-height: 18px;
  
  background-color: #eeeeee;
}
.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}
.grey-button:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}
.main-frame {
  width: 760px;
}
.catalog {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}
.item-card {
  max-width: 360px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 33px;
  transition: box-shadow 150ms ease-in;
}
.item-card:hover,
.item-card:focus {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
.item-card::before {
  /* width: 360px; */
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  border-radius: 3px 3px 0 0;
  background-image: url("../img/browser-hover.jpg");
  opacity: 0.15;
  
}
.item-card:hover {
  background-color: #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  border-radius: 3px 3px 0 0;
  opacity: 1;
}

.item-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 25px;
  padding-bottom: 45px;
  background-color: #eeeeee;
  opacity: 0;
  transition: opacity 150ms ease-in;

  /*   width: 240px; */
  margin: 0 auto;
  text-align: center;
}

.item-card:hover .item-description,
.item-card:focus .item-description {
  opacity: 1;
}
.item-card img {
  display: block;
  outline: 1px solid #e5e5e5;
  outline-offset: -1px;
  background-color: #e9e9e9;
}
.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.item-text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.button-price {
  }
.button-price:active {
  color: #fff;
}
.card-button {
  margin: 0 auto;
  width: 200px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding: 16px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination-link {
  padding: 16px 21px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  background-color: #eeeeee;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  background-color: #dfdfdf;
}

.pagination-link[href]:active {
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
}

.pagination-link-current {
  box-shadow: inset 0 0 0 3px #dbdbdb;
  background-color: inherit;
}

.pagination-link-big {
  padding-left: 78px;
  padding-right: 78px;
  text-transform: uppercase;
}